.proposal_list
  %h4= "Submitted proposals for #{ @event.title }"
  %table
    %thead
      %tr
        %th
          Slug
        %th
          Your Score
        %th
          Your Notes
        - @sortable_questions.each do |question|
          %th.sortable= question.label
        %th
          Avg score
        %th
          \# of scores
        %th
          Created
        %th
          Updated
    %tbody
      - @proposals.each do |proposal|
        - scores = Note.where(proposal: proposal).where('score IS NOT NULL').pluck(:score)
        - num_scores = scores.count
        - total = scores.sum
        %tr
          %td
            = link_to proposal.slug[0,6], review_path(@event, proposal), class: 'slug'
          %td
            = proposal.notes_for_user(current_user) ? proposal.notes_for_user(current_user).score : ''
          %td.notes=  notes_for proposal
          - @sortable_questions.each do |question|
            - response = proposal.response_for_question(question)
            %td!= response.value_without_scrub_markers
          %td
            = num_scores == 0 ? "n/a" : total / num_scores
          %td
            = num_scores
          %td.created= created_at proposal
          %td.updated= last_updated proposal