%h4 Notes
= form_for notes, remote: true do |f|
  = f.hidden_field :id
  = f.hidden_field :proposal_id, value: proposal.id
  .score
    = f.label :score, 'Score: '
    = notes.score
    %span 0: worst, 5: best
  .note= f.text_area :content
  .submit
    .status
    = f.submit "Save"
